<form method="post" action="/admin/add_blog">
	<label for="title">Blog title:</label>
	<input type="text" name="title" id="title" autofocus>
	<label for="summary">Blog summary:</label>
	<textarea name="summary" rows="5"  id="summary"></textarea>
	<label for="content">Blog content:</label>
	<textarea name="content" rows="16" id="content"></textarea>
	<button type="submit">Add Blog</button>
</form>
